<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
    <title>근무일지 페이지</title>
    <style>
        .headerForm {
            width: 100%;
            height: 70px;
            border: solid 1px black;
        }
        .footerForm {
            width: 100%;
            height: 70px;
            border: solid 1px black;
        }
        .headerForm h1 {
            text-align: center;
        }
        .footerForm h1 {
            text-align: center;
        }
        .mainForm {
            width: 100%;
            height: 100%;
        }
        .search {
            width: 100%;
            height: 60px;
            margin-left: 0 auto;
            margin-right: 0 auto;
            padding-top: 10px;
        }
    </style>
    </head>
<body>
    <header>
        <div class="headerForm">
            <h1> 근무일지 </h1>
        </div>
    </header>
    <main>
<div layout:fragment="content" class="container my-3">
	<br>
	<main>
        <div class="mainForm" style="text-align: center;">
            <form>
                <div class="mb-3">
                	<input type="hidden" name="id" id="id" th:value="${workLog.id}">
                    <input style="height: 100px" disabled="disabled" type="text" name="workLog" id="title" class="form-control" th:value="${workLog.title}">
                </div>
                <div class="mb-3">
                    <input style="height: 300px" disabled="disabled" type="text" name="workLog" id="content" class="form-control" th:value="${workLog.content}">
                </div>
                <div class="mb-3">
                    <div th:text="${#temporals.format(workLog.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="mb-3">
                	<div th:text="${#temporals.format(workLog.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <a th:href = "@{/worklog/worklog_list}" class = "btn btn-primary"><button class="btn btn-primary" style="width: 70px;">목록</button></a>
                <button class="btn btn-primary" id="updateBtn" style="float: right;">수정</button>
                <button class="btn btn-primary" id="saveBtn" style="float: right;">저장</button>
                <button class="btn btn-primary" id="cancelBtn" style="float: right;">취소</button>

            </form>
            
        </div>
    </main>
</div>
<script layout:fragment="script" type='text/javascript'>

$(document).ready(function() {
    // 페이지가 로드되었을 때 실행되는 코드
    $("#cancelBtn, #saveBtn").hide();
    // 수정 버튼 클릭 이벤트
    $("#updateBtn").on("click", function(event) {
        event.preventDefault();
        // 폼 요소들의 disabled 속성 해제
        $("#title, #content").prop("disabled", false);
        // 버튼 보이기/숨기기
        $("#updateBtn").hide();
        $("#cancelBtn, #saveBtn").show();
    });


	// 저장 버튼 클릭 이벤트
		$("#saveBtn").on("click", function(event) {
			event.preventDefault();
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$.ajax({
				type : "PUT",
				url: "/worklog/" + $("#id").val() + "/update",
				data : {
					"title" : $("#title").val(),
					"content" : $("#content").val(),
				},
				beforeSend : function(xhr) {
					/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					alert("근무일지가 수정되었습니다.");
					// 버튼 보이기/숨기기
					$("#updateBtn").show();
					$("#cancelBtn, #saveBtn").hide();
					// 폼 요소들의 disabled 속성 설정
					$("#title, #content").prop("disabled", true);
				},
				error : function(e) {
					console.log("근무일지 업데이트 과정에서 에러가 발생했습니다: " + e);
				}
			});
		});

		$.ajax({
			type : "POST",
			url : "/member/" + encodeURIComponent(memberId),
			success : function(member) {
				$("#title").val(workLog.title).prop("disabled", true);
				$("#content").val(workLog.content).prop("disabled", true);

				// 현재 주소창의 URL을 가져와서, 쿼리 파라미터를 제거한 URL을 만듭니다.
				var url = window.location.href.split('?')[0];
				// 만들어진 URL로 주소창을 다시 설정합니다.
				window.history.replaceState({}, document.title, url);
			},

			error : function(e) {
				console.log("Error retrieving member information: " + e);
			},
			complete : function() {
				// 취소 버튼 클릭 시 이동할 URL
				var cancelUrl = "/worklog/mypage?id=" + memberId;
				$("#cancelBtn").on("click", function(event) {
					event.preventDefault();
					location.href = cancelUrl;
				});
			}
		});

	});
</script>
</html>