<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>근무일지 수정</title>
</head>
<body>
    <h1>근무일지 수정</h1>
    <form th:action="@{'/worklogs/' + ${workLog.id} + '/update'}" method="post">
        <input type="hidden" th:value="${workLog.id}" name="id">
        <label for="title">제목:</label>
        <input type="text" id="title" th:value="${workLog.title}" name="title" required><br>
        <label for="content">내용:</label>
        <textarea id="content" name="content" required th:text="${workLog.content}"></textarea><br>
        <button type="submit">수정 완료</button>
    </form>
</body>
</html>
