<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript">
    
    $(document).ready(function() {
        // 페이지가 로드되었을 때 실행되는 코드
        $("#cancelBtn, #saveBtn").hide();
        // 수정 버튼 클릭 이벤트
        $("#updateBtn").on("click", function(event) {
            event.preventDefault();
            // 폼 요소들의 disabled 속성 해제
            $("#name, #email, #phoneNumber, #sample6_postcode, #sample6_jibunAddress, #sample6_detailAddress, #sample6_extraAddress").prop("disabled", false);
            // 버튼 보이기/숨기기
            $("#updateBtn").hide();
            $("#cancelBtn, #saveBtn").show();
        });
    	    // 저장 버튼 클릭 이벤트
    	    $("#saveBtn").on("click", function(event) {
    	        event.preventDefault();
    	        var token = $("meta[name='_csrf']").attr("content");
    	        var header = $("meta[name='_csrf_header']").attr("content");
    	        $.ajax({
    	            type : "PUT",
    	            url : "/member/update",
    	            data : {
    	                "id" : $("#id").val(),  
    	                "name" : $("#name").val(),
    	                "email" : $("#email").val(),
    	                "phoneNumber" : $("#phoneNumber").val(),
    	                "sample6_postcode" : $("#sample6_postcode").val(),
    	                "sample6_address" : $("#sample6_jibunAddress").val(),
    	                "sample6_detailAddress" : $("#sample6_detailAddress").val(),
    	                "sample6_extraAddress" : $("#sample6_extraAddress").val()
    	            },
    	            beforeSend : function(xhr){
    	                /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
    	                xhr.setRequestHeader(header, token);
    	            },
    	            success : function(result) {
    	                alert("회원 정보가 업데이트 되었습니다.");
    	                // 버튼 보이기/숨기기
    	                $("#updateBtn").show();
    	                $("#cancelBtn, #saveBtn").hide();
    	                // 폼 요소들의 disabled 속성 설정
    	                $("#name, #email, #phoneNumber, #sample6_postcode, #sample6_jibunAddress, #sample6_detailAddress, #sample6_extraAddress").prop("disabled", true);
    	            },
    	            error : function(e) {
    	                console.log("회원 정보 업데이트 과정에서 에러가 발생했습니다: " + e);
    	            }
    	        });
    	    });
    	    $.ajax({
    	        type: "POST",
    	        url: "/member/" + encodeURIComponent(memberId),
    	        success: function(member) {
    	            $("#name").val(member.name).prop("disabled", true);
    	            $("#email").val(member.email).prop("disabled", true);
    	            $("#phoneNumber").val(member.phoneNumber).prop("disabled", true);
    	            $("#sample6_postcode").val(member.sample6_postcode).prop("disabled", true);
    	            $("#sample6_jibunAddress").val(member.sample6_address).prop("disabled", true);
    	            $("#sample6_detailAddress").val(member.sample6_detailAddress).prop("disabled", true);
    	            $("#sample6_extraAddress").val(member.sample6_extraAddress).prop("disabled", true);

    	            // 현재 주소창의 URL을 가져와서, 쿼리 파라미터를 제거한 URL을 만듭니다.
    	            var url = window.location.href.split('?')[0];
    	            // 만들어진 URL로 주소창을 다시 설정합니다.
    	            window.history.replaceState({}, document.title, url);
    	        },

    	        error: function(e) {
    	        	console.log("Error retrieving member information: " + e);
    	        },
    	        complete: function() {
    	            // 취소 버튼 클릭 시 이동할 URL
    	            var cancelUrl = "/member/mypage?id=" + memberId;
    	            $("#cancelBtn").on("click", function(event) {
    	                event.preventDefault();
    	                location.href = cancelUrl;
    	            });
    	        }
    	    });



    	});
    	

</script>

    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <title>마이페이지</title>
    <style>
        .headerForm {
            width: 100%;
            height: 70px;
            border: solid 1px black;
        }
        .footerForm {
            width: 100%;
            height: 70px;
            border: solid 1px black;
        }
        .headerForm h1 {
            text-align: center;
        }
        .footerForm h1 {
            text-align: center;
        }
        .mainForm {
            width: 100%;
            height: 100%;
            background-color: beige;
        }
        .myForm {
            margin: 0 auto;
            padding-top: 100px;
            width: 300px;
        }
    </style>
</head>
<body>
    <header>
        <div class="headerForm">
            <h1>마이페이지</h1>
        </div>
    </header>
    <main>
        <div class="mainForm" style="text-align: center;">
            <form>
                <div class="mb-3">
                	<input type="hidden" name="id" id="id" th:value="${member.id}">
                	<label>이름 : </label>
                    <input disabled="disabled" type="text" name="mypage" id="name" class="form-control" th:value="${member.name}">
                </div>
                <div class="mb-3">
                	<label>이메일 : </label>
                    <input disabled="disabled" type="text" name="mypage" id="email" class="form-control" th:value="${member.email}">
                </div>
                <div class="mb-3">
                	<label>전화 번호 : </label>
                    <input disabled="disabled" type="text" name="mypage" id="phoneNumber" class="form-control" th:value="${member.phoneNumber}">
                </div>
                <div class="mb-3">
                	<label>우편 번호 :</label>
                    <input disabled="disabled" type="text" name="mypage" id="sample6_postcode" class="form-control" th:value="${member.sample6_postcode}"> 
                    <input disabled="disabled" type="button" name="mypage" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                </div>
                <div class="mb-3">
                	<label>주소 : </label>
                    <input disabled="disabled" type="text" name="mypage" id="sample6_jibunAddress" class="form-control" th:value="${member.sample6_address}">
                </div>
                <div class="mb-3">
                	<label>상세 주소 : </label>
                    <input disabled="disabled" type="text" name="mypage" id="sample6_detailAddress" class="form-control" th:value="${member.sample6_detailAddress}">
                </div>
                <div class="mb-3">
                	<label>참고 항목 : </label>
                    <input disabled="disabled" type="text" id="sample6_extraAddress" class="form-control"th:value="${member.sample6_extraAddress}">
                </div>
                <div>
                	<label>회사 : </label>
                	<input disabled="disabled" type="text" name="company" id="company" class="form-control" th:value="${member.company.cname}">
                </div>
                <div>
                	<label>부서 : </label>
                	<input disabled="disabled" type="text" name="company" id="company" class="form-control" th:value="${member.department.dname}">
                </div>
                <button class="btn btn-primary" id="updateBtn" style="float: right;">수정</button>
                <button class="btn btn-primary" id="saveBtn" style="float: right;">저장</button>
                <button class="btn btn-primary" id="cancelBtn" style="float: right;">취소</button>

            </form>
            
        </div>
    </main>
    <footer>
        <div class="footerForm">
        
            <h1>footer 영역입니다. </h1>
        </div>
    </footer>
</body>
</html>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    
</script>