<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>출.퇴근 관리</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/attendence.css">
</head>
<body>
   	<h1>출.퇴근 관리 페이지</h1>
	<div class="at_odiv">
		<div class="at_div1">
			<form>
				<select class="sel" id="company">
					<option>회사선택</option>
				</select>
				<select class="sel" id="department">
					<option>부서선택</option>
				</select>
				<select class="sel" id="name">
					<option>이름선택</option>
				</select>
                <select class="sel" id="year">
                    <option>년도</option>
                </select>
                <select class="sel" id="month">
                    <option>월</option>
                </select>
				<button class="bu1"> 조회하기 </button>
			</form>
		</div>

        <div class="at_div2">
            <div class="at_div2_div1">
                <table class="table">
                	<thead>
	                    <tr>
	                    	<th class="th1">요일</th>
	                        <th class="th2" colspan="4">출, 퇴근 시간</th>
	                        <th class="th3">비고란</th>
	                    </tr>
                    </thead>
                    <tr>
                    	<td class="td1"></td>
                    	<td class="td2">출근</td>
                        <td class="td3"></td>
                        <td class="td2">퇴근</td>
                        <td class="td3"></td>
                        <!-- 비고란 -->
                        <td class="td4">비고</td>
                    </tr>
                </table>
            </div>

        </div>

	</div>
	
	
	
</body>
</html>